<p>4 interest-free payments of $25.00 with Klarna</p>
<div class="offsite">
  <p>After clicking "Place order with Klarna", you will be redirected to Klarna to complete your purchase securely.</p>
</div>

