<% if params[:keywords] %>
  <% if @products.empty? %>
    <h2><%= t("spree.no_products_found") %></h2>
  <% else %>
    <%= render partial: "spree/shared/products", locals: { products: @products, taxon: @taxon } %>
  <% end %>
<% else %>
  <%= render partial: "spree/shared/products", locals: { products: @products, taxon: @taxon } %>
<% end %>

