<% cache [I18n.locale, current_pricing_options, @product] do %>
  <div class="product" itemscope itemtype="http://schema.org/Product">
    <% @body_id = "product_details" %>
    <%= render partial: "image" %>
    <%= render partial: "promotions" %>
    <h1 itemprop="name"><%= @product.name %></h1>
    <%= render partial: "cart_form" %>
    <%#= render partial: "taxons" %>
    <%#= render partial: "thumbnails" %>
    <!--<div itemprop="description">
      <%#= product_description(@product) rescue t("spree.product_has_no_description") %>
      <%#= render partial: "properties" %>
    </div>-->
  </div>
<% end %>

