<h2><%= @taxon.name %></h2>
<%= render partial: "spree/shared/products", locals: { products: @products, taxon: @taxon } %>
<% unless params[:keywords].present? %>
  <% cache [I18n.locale, @taxon] do %>
    <%= render partial: "taxon", collection: @taxon.children %>
  <% end %>
<% end %>

