<%= form_tag order_coupon_codes_path(@order), method: :post do %>
  <div class="input_text_submit_combo">
    <%= text_field_tag :coupon_code, nil, placeholder: t("spree.coupon_code"), size: 10 %>
    <%= submit_tag t("spree.apply_code") %>
  </div>
<% end %>

