<div class="menu">
  <%= image_tag "logo.svg", class: "logo", alt: "Solidus Simple Frontend" %>
  <%= render partial: "spree/shared/cart" %>
  <%= render partial: "spree/shared/taxonomies" %>
  <%= render partial: "spree/shared/footer" %>
</div>

